body, html,#root { 
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}
 

 

.main-container {
    display: flex;
    flex-direction: column;
}

.flex-column {
  flex:1;
  justify-content: space-evenly
}